.flight {
  
}

.flight__schedule-table {
  width: 100%;
  border-collapse: collapse;
}

.flight__schedule-table-header {
  font-family: 'Open Sans', sans-serif;
  font-size: 12px;
  font-weight: 500;
  letter-spacing: 0.5px;
  line-height: 18px;
  color: #A0B0B9;
  text-transform: uppercase;

  @media(max-width: 545px) {
    font-size: 10px;
  }
}

.flight__schedule-table-row {
  font-family: 'Open Sans', sans-serif;
  font-size: 14px;
  font-weight: 500;
  letter-spacing: 0px;
  line-height: 21px;
  color: #4A4A4A;
  text-transform: uppercase;

  @media(max-width: 545px) {
    display: flex;
    align-items: flex-start;
    font-size: 12px;
  }
}

.flight__schedule-table-cell,
.flight__schedule-table-header {
  box-sizing: border-box;
  display: inline-block;
  width: 130px;

  &:not(:last-child) {
    margin-right: 30px;
  }

  @media(max-width: 545px) {
    height: auto;
    width: 25%;
  }
}