.airline__show-more-button{
  font-family: 'Open Sans', sans-serif;
  font-weight: 500;
  letter-spacing: 0.5px;
  line-height: 20px;
  font-size: 12px;
  text-transform: uppercase;
  color: #FFFFFF;

  width: 100%;
  height: 50px;
  background-color: #2196F3;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}